<button (click)=showDepartments()>Show/Hide Departments</button><br>
<button (click)=showBrands()>Show/Hide Brands</button><br>
<button (click)=showCategories()>Show/Hide Categories</button><br>
<div class="container">
    <div *ngIf="departmentsVisible">
        <app-department [departments]="data.Departments"></app-department>
    </div>
    <div *ngIf="brandsVisible">
        <app-brand [brands]="data.Brands"></app-brand>
    </div>
    <div *ngIf="categoriesVisible">
        <app-category [categories]="data.CategoriesTrees"></app-category>
    </div>
</div>